<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-image: url(https://images.pexels.com/photos/1037992/pexels-photo-1037992.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-repeat: no-repeat;
  background-size: 100%;
}
</style>
</head>
<body>

<h1 style="font-family:candara;font-size:60px;">Welcome to DBtify ! &nbsp; ♫</h1>
<h2 style="font-family:mv boli;font-size:40px;">Are you a listener? Please enter your username or email address to login</h2>
<form method="POST" action="">
    <label style="font-family:candara;font-size:25px;">Your Username or Email:</label> <input type="text" name="lname" required/>
    <input type="submit" value="Login">
  </form>
<br>
<br>
  <h2 style="font-family:mv boli;font-size:40px;">Are you an artist? Please enter your name and surname to login</h2>
  <form method="POST" action="">
    <p><label style="font-family:candara;font-size:25px;">Name: </label><input type="text" name="arname" required/>
    </p>
    <p>
    <label style="font-family:candara;font-size:25px;">Surname: </label> <input type="text" name="arsurname" required/>
    </p>
    <input type="submit" value="Login">
  </form>

</body>
</html>