<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-image: url(https://images.pexels.com/photos/1037992/pexels-photo-1037992.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-repeat: no-repeat;
  background-size: 100%;
}
</style>
</head>
<body>

<a class="btn btn-primary" style=font-size:25px; href="/userpage">Back to User Page</a>
{% if songsDetails|length==0 %}
<h1 style="font-family:mv boli;font-size:40px;">No song title with "{{keyword}}" found</h1>
{% else %}
<h1 style="font-family:mv boli;font-size:40px;">Here is the list of all songs with <i>{{keyword}}</i> on DBtify!</h1>

 {% for song in songsDetails %} 
 <li style="font-family:candara;font-size:25px;"><b>{{"SongID: "}}</b>{{song[0]}}<b>{{" Title: "}}</b>{{song[1]}}</li>

 {% endfor %}
 {% endif %}

</body>
</html> 